.postComponent {
	/* background-color: beige;
	margin-bottom: 10px;
	height: auto;
	padding: 10px; */
}
.postComponent{
	background-color: white;
	border-radius: 2%;
	border: solid 2px #489DC6; 
	margin-bottom: 8%;
}
.postComponent h1{
	margin-left: 20px;
	color: #489DC6;
	font-weight: bold;
}
.postComponent p{
	color: #868686;
	font-weight: 500;
	margin-left: 20px;
}
.postComponent button{
	color: white;
	font-weight: bold;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 5px 15px;
	border-radius: 5%;
	border: solid 1px rgb(101, 179, 218);
	background-color: rgb(101, 179, 218);

}